
<%= form_with(model: @house, local: true) do |form| %> 
<div class="container">  
  <div class="row">
    <div class="col-md-2">
      <%= form.label :House_Type %>
    </div>
    <div class="col-md-10">
     <%= form.select :house_type, options_from_collection_for_select(House.select(:house_type).distinct, :house_type, :house_type), {:class=>'form-control', :onchange => "myFunction(this.value);"} %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
     <%= form.label :Category %>
    </div>
    <div class="col-md-10">
     <%= form.select :category, options_from_collection_for_select(House.select(:category).distinct, :category, :category), {:class=>'form-control', :onchange => "myFunction(this.value);"} %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <%= form.label :Square_Feet %>
    </div>
    <div class="col-md-10">
      <%= form.text_field :square_feet %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <%= form.label :Amount %>
    </div>
    <div class="col-md-10">
      <%= form.text_field :amount %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <%= form.label :House_Image %>
    </div>
    <div class="col-md-10">
      <%= form.file_field :images, multiple: true %><br><br>
    </div>
  </div>

  <div class="row">
    <div class="col-md-1">
      
    </div>
    <div class="col-md-11">
    <button type="submit" class="btn btn-outline-primary">Add Address</button>
      <%#= form.submit :Add_Address %>
    </div>
  </div>
<% end %>         
<br>
<%= link_to 'Back', houses_path %>
</div>