<div class="display">

  <div style = "width:400px; height:400px;display: flex; flex-direction: column;">
      
        <% (0...@house.house.images.count).each do |image| %>
          <%= image_tag(@house.house.images[image], style:"width:100%") if @house.house.images.attached?%>
        <% end %>
  </div>
  <div class="info">

  <p>
      <strong>Approved:</strong>
      <%= @house.house.approved %>
    </p>

    <p>
      <strong>House Type:</strong>
      <%= @house.house.house_type %>
    </p>

    <p>
      <strong>Category:</strong>
      <%= @house.house.category %>
    </p>


    <p>
      <strong>Square Feet:</strong>
      <%= @house.house.square_feet %>
    </p>

    <p>
      <strong>Amount:</strong>
      <%= @house.house.amount %>
    </p>

    <p>
      <strong>Address :</strong>
      <%= @house.house_address %>
    </p>

    <p>
      <strong>State:</strong>
      <%= CS.states(:in)[@house.state.to_sym] %>
    </p>

    <p>
      <strong>City:</strong>
      <%= @house.city %>
    </p>

    <p>
      <strong>Area:</strong>
      <%= @house.area %>
    </p>

    
  </div>
</div>
<br>

<%= link_to 'Back', houses_path%>



  






