<br>
<div class="search">
    <%= form_with model: @house, method: :get do |f| %>
      <div class="row">
        <div class="col-md-5">
          <%= f.label :state %>
          
          <%= f.select :state, options_for_select(CS.states(:in).map { |c| [c[1], c[0]] } ),{:prompt => 'Select State'},class: "btn btn-outline-secondary dropdown-toggle" %>
        </div>
        <div class="col-md-7">
        <!-- State -->
          <%= f.label :city %>
          <%= f.select :city, options_for_select([] ),{:prompt => 'Select City'},class: "btn btn-outline-secondary dropdown-toggle" %>
        </div>
      </div>
    <% end %>
    
</div>
<br>
<br>

  <h3>Houses</h3>
  <table class="table">
  <thead class="thead-light">
  
    <tr>
      <th>Type</th>
      <th>Category</th>
      <th>Square feet</th>
      <th>Amount</th>
      <th>View Details</th>
    </tr>
  </thead>

  <tbody class="houses" id="houses">
    <% @houses.each do |house| %>
      <tr>
        <td><%= house.house_type %></td>
        <td><%= house.category %></td>
        <td><%= house.square_feet %></td>
        <td><%= house.amount %></td>
        <td><%= link_to 'View Details', show_house_path(house.house_id), class: "btn btn-outline-primary" %></td>
      </tr>
    <% end %>
  </tbody>
  </table>







