<div class="display">

  <div style = "width:400px; height:400px;display: flex; flex-direction: column;">
      
        <% (0...@house.images.count).each do |image| %>
          <%= image_tag(@house.images[image], style:"width:100%") if @house.images.attached?%>
        <% end %>
  </div>
  <div class="info">


    <p>
      <strong>House Type:</strong>
      <%= @houses.house_type %>
    </p>

    <p>
      <strong>Category:</strong>
      <%= @houses.category %>
    </p>


    <p>
      <strong>Square Feet:</strong>
      <%= @houses.square_feet %>
    </p>

    <p>
      <strong>Amount:</strong>
      <%= @houses.amount %>
    </p>

    <p>
      <strong>Address :</strong>
      <%= @houses.house_address %>
    </p>

    <p>
      <strong>State:</strong>
      <%= CS.states(:in)[@houses.state.to_sym] %>
    </p>

    <p>
      <strong>City:</strong>
      <%= @houses.city %>
    </p>

    <p>
      <strong>Area:</strong>
      <%= @houses.area %>
    </p>

    <p>
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Contact House Owner
      </a>
    </p>
  </div>
</div>
<br>




<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <h4><b>House Owner</b></h4>


    
    <p>
      <strong>Name:</strong>
      <%= @houses.first_name %> <%= @houses.last_name %>
    </p>

    <p>
      <strong>Email id:</strong>
      <%= @houses.email %> 
    </p>

    <p>
      <strong>Contact No:</strong>
      <%= @houses.contact %> 
    </p>
  </div>
</div>

<br><br>
<% if user_signed_in? %>
  <% if current_user.has_role? (:admin)%>
  
    <% if @houses.approved == true %>
      <%= link_to 'Disapprove', user_path(@houses.house_id), method: :patch, class: "btn btn-outline-primary" %>
      <%= link_to 'Reserve', user_path(@houses.house_id), method: :patch, class: "btn btn-outline-primary" %><br>
      <%= link_to 'Back', root_path %>
      <br><br>
    <% else %>
      <%= link_to 'Approve', user_path(@houses.house_id), method: :patch, class: "btn btn-outline-primary" %>
      <br><br>
      <%= link_to 'Back', approval_path %>
      <br><br>
    <% end %>
  <% else %>
    <%= link_to 'Reserve', user_path(@houses.house_id), method: :patch, class: "btn btn-outline-primary" %>
    <br><br>
    <%= link_to 'Back', root_path %>
    <br><br>
  <%end%>
<% else %>
  <%= link_to 'Reserve', user_path(@houses.house_id), method: :patch, class: "btn btn-outline-primary" %>
    
  <%= link_to 'Back', root_path %>
  <br><br>
<%end%>



  






