<% if @house.user_id == current_user.id %>
<%= form_with(model: @address, local: true, url: update_address_path(@address.house.id) , method: :put) do |form| %> 
    <div class="container">  
      <div class="row">
        <div class="col-md-2">
         <%= form.label :House_Address %>
        </div>
        <div class="col-md-10">
          <%= form.text_area :house_address %>
        </div>
      </div>
      
      <br>
      <div class="row">
        <div class="col-md-2">
          <%= form.label :State %>
        </div>
        <div class="col-md-10">
          <%= form.select :state, options_for_select(CS.states(:in).map { |c| [c[1], c[0]] }, @address.state ) %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-2">
          <%= form.label :City %>
        </div>
        <div class="col-md-10">
  
          <%= form.select :city, options_for_select(CS.cities(@address.state), @address.city) %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-2">
          <%= form.label :Area %>
        </div>
        <div class="col-md-10">
          <%= form.text_field :area %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-2">
          <%= form.label :Pincode %>
        </div>
        <div class="col-md-10">
          <%= form.text_field :pincode %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-11">
          <%= form.submit :Submit, class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>  
      
  <br>
  <%= link_to 'Back', edit_house_path(@address.house_id) %>
  <% end %>